@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SDGothic_EB';
    src: url('../fonts/SDGothic/AppleSDGothicNeo-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_B';
    src: url('../fonts/NotoSansCJKkr-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

