.nanumsquare {
    font-family: "NanumSquare", sans-serif !important;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @font-face {
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
      format("woff");
    font-family: "GmarketSansBold";
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    overflow-x: hidden;
  }
  
  /* header 시작 */
  
  .main {
    padding-left: 10rem;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: none;
    height: 6rem;
    float: left;
    padding-left: 10rem;
    padding: 0 10rem 0 10rem;
    z-index: 9999;
  }
  
  /* 상단배너 a태그 */
  
  .header_com a {
    text-decoration: none;
  }
  
  /* 유저 프로파일 이미지 밖 div */
  
  #profile_div {
    border-radius: 70%;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    float: right;
    position: absolute;
    right: 25rem;
    top: 30%;
  }
  
  /* 로고 */
  
  #logo {
    float: left;
    position: absolute;
    top: 38%;
    left: 9rem;
    font-family: "NanumSquare", sans-serif !important;
    font-size: 25px;
  }
  
  /* 유저 프로파일 이미지 */
  
  #profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* 유저이름 */
  
  #username {
    float: right;
    position: absolute;
    top: 38%;
    right: 30rem;
    font-family: "NanumSquare", sans-serif !important;
  }
  
  #username_a:visited,
  #logo_a:visited {
    text-decoration: none;
    color: black;
  }
  
  /* header 끝 */
  
  /* page1 시작 */
  
  #gif1 {
    position: absolute;
    top: 7rem;
    right: 5rem;
    width: 35rem;
    height: 35rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  
  #circle_blue {
    background-color: #3974d8;
    border-radius: 70%;
    z-index: -1;
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 53rem;
    height: 53rem;
  }
  
  #circle_yellow {
    background-color: #ffd359;
    border-radius: 70%;
    z-index: 3;
    position: absolute;
    top: 38rem;
    right: 42rem;
    width: 15rem;
    height: 15rem;
  }
  
  #circle_darkblue {
    background-color: #393341;
    border-radius: 70%;
    z-index: 3;
    position: absolute;
    top: 6rem;
    right: 3rem;
    width: 6rem;
    height: 6rem;
  }
  
  #circle_gray {
    background-color: #ececec;
    border-radius: 70%;
    z-index: 3;
    position: absolute;
    top: 33rem;
    right: 52rem;
    width: 5rem;
    height: 5rem;
  }
  
  #rectangle {
    background-color: #3974d8;
    z-index: 1;
    position: absolute;
    top: 45.3rem;
    right: 0rem;
    width: 35rem;
    height: 4.5rem;
  }
  
  #title1 {
    position: absolute;
    top: 9rem;
    left: 9rem;
  }
  
  #title1 p {
    font-family: "GmarketSansBold";
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
  }
  
  #content1 {
    position: absolute;
    top: 25rem;
    left: 9rem;
  }
  
  #content1 p {
    font-family: "NanumSquare", sans-serif !important;
    font-size: 20px;
  }
  
  .scroll {
    position: absolute;
    top: 30rem;
    left: 9rem;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
  }
  
  #join {
    position: absolute;
    top: 30rem;
    left: 14rem;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
  }
  
  /* page1 끝 */
  
  /* page2 시작 */
  
  #gif2 {
    position: absolute;
    top: 80rem;
    left: 10rem;
    z-index: 2;
  }
  
  #rectangle_yellow {
    position: absolute;
    width: 40%;
    height: 50rem;
    top: 100rem;
    left: 0;
    background-color: #ffd359;
  }
  
  #target1 {
    position: absolute;
    top: 62rem;
    right: 9rem;
  }
  
  #target1 p {
    font-family: "GmarketSansBold";
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
  }
  
  #content2 {
    position: absolute;
    top: 78rem;
    right: 9rem;
  }
  
  #content2 p {
    font-family: "NanumSquare", sans-serif !important;
    font-size: 20px;
  }
  
  #login1 {
    position: absolute;
    width: 29.63rem;
    height: 3.81rem;
    left: 8rem;
    top: 32.56rem;
  
    background: #3974d8;
  
    border: 0rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: regular;
    font-size: 1.38rem;
    line-height: 1.63rem;
    /* identical to box height */
  
    text-align: center;
  
    color: #ffffff;
  }
  
  /* #card {
      position: relative;
      width: 29.63rem;
      height: 3.81rem;
      left: 8rem;
      top: 32.56rem;
  } */
  
  /* page2 끝 */
  
  #card {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 40rem;
    height: 100rem;
    left: 8rem;
    top: 32.56rem;
  
    position: absolute;
    left: 8rem;
    top: 35rem;
  }
  
  #text {
    position: relative;
    width: 40%;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 0.94rem;
    line-height: 1.13rem;
    /* text-align: center; */
    letter-spacing: 0.345em;
    text-transform: uppercase;
  
    color: #7d7d7d;
  }
  
  #address,
  #password {
    position: relative;
    width: 100%;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.38rem;
    line-height: 1.63rem;
    text-align: start;
    color: #000000;
  }
  
  input[type="text"],
  input[type="password"] {
    position: relative;
    width: 36rem;
    height: 4rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.13rem;
    line-height: 1.31rem;
    letter-spacing: 0.045em;
    color: #7d7d7d;
  
    border: 0.03rem solid #7d7d7d;
    box-sizing: border-box;
  }
  
  .subbtn {
    /*html의 class는 css에서 .으로 받아옴*/
    position: relative;
    width: 100%;
    height: 4rem;
  
    background: #3974d8;
  
    border: 0rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.38rem;
    line-height: 1.63rem;
  
    text-align: center;
  
    color: #ffffff;
  }
  
  #hzline {
    position: relative;
    width: 29.63rem;
    height: 0rme;
    /* left: 100px;
    top: 1150px; */
  
    border: 0.03rem solid #7d7d7d;
  }
  
  #question1 {
    position: relative;
    width: 14.19rem;
    height: 1.56rem;
    /* left: 176px;
    top: 1168px; */
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.31rem;
    text-align: center;
    letter-spacing: 0.045em;
  
    color: #646464;
  }
  
  #anch1 {
    position: relative;
    width: 5rem;
    height: 1rem;
    /* left: 392px;
    top: 1168px; */
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.31rem;
    text-align: center;
    letter-spacing: 0.045em;
  
    color: #612b7a;
  }
  
  /* page3 */
  
  #ycircle1 {
    position: absolute;
    width: 1.63rem;
    height: 1.63rem;
    left: calc(50% - 1.63rem / 2 - 32.81rem);
    top: calc(50% - 1.63rem / 2 + 52.13rem);
  
    background: #ffd359;
  }
  
  #wcircle1 {
    position: absolute;
    width: 2.81rem;
    height: 2.81rem;
    left: calc(50% - 2.81rem / 2 - 32.78rem);
    top: calc(50% - 2.81rem / 2 + 52.16rem);
  
    background: #ffffff;
  }
  
  #line1 {
    position: absolute;
    width: 0rem;
    height: 12.5rem;
    left: 12.19rem;
    top: 140.06rem;
  
    border: 0.06rem solid #7a7a7a;
    transform: rotate(90deg);
  }
  
  #bcircle1 {
    position: absolute;
    width: 1.63rem;
    height: 1.63rem;
    left: calc(50% - 1.63rem / 2 - 32.81rem);
    top: calc(50% - 1.63rem / 2 + 3.71rem);
  
    background: #7a7a7a;
  }
  
  #line2 {
    position: absolute;
    width: 0rem;
    height: 12.5rem;
    left: 12.19rem;
    top: 140.06rem;
  
    border: 0.06rem solid #7a7a7a;
    transform: rotate(90deg);
  }
  
  #bcircle2 {
    position: absolute;
    width: 1.63rem;
    height: 1.63rem;
    left: calc(50% - 1.63rem / 2 - 32.81rem);
    top: calc(50% - 1.63rem / 2 + 66rem);
  
    background: #7a7a7a;
  }
  
  #text1 {
    position: absolute;
    width: 10.56rem;
    height: 2.25rem;
    left: 14.88rem;
    top: 137.5rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
  
    color: #000000;
  }
  
  #text2 {
    position: absolute;
    width: 10.56rem;
    height: 2.25rem;
    left: 14.88rem;
    top: 144.75rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
  
    color: #00000066;
  }
  
  #text3 {
    position: absolute;
    width: 10.56rem;
    height: 2.25rem;
    left: 14.88rem;
    top: 151.38rem;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
  
    color: rgba(0, 0, 0, 0.4);
  }
  