@font-face {
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
      format("woff");
    font-family: "GmarketSansBold";
    font-weight: normal;
    font-style: normal;
}