{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{{user.get_username}}
<a href="{% url 'logout' %}" type="submit">Logout</a>
{% else %}
<a href="{% url 'signup' %}"  type="submit">SignUp</a>
<a href="{% url 'login' %}"  type="submit">Login</a>
{% endif %}


<br><a href ="{% url 'recommend' %}"  type="submit">recommend</a>
<br><a href ="{% url 'subscribe' %}"  type="submit">subscribe</a>
<br><a href ="{% url 'shopping' %}"  type="submit">shopping</a>
<br>
{% endblock %}