{% extends 'base.html' %}
{% load static %}
{% block head %}

<link href="{% static 'main/css/index.css' %}" rel="stylesheet">
<link href="{% static 'main/css/payment.css' %}" rel="stylesheet">
<style>
    @font-face {
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
      font-family: "GmarketSansBold";
      font-weight: normal;
      font-style: normal;
    }
</style>
{% endblock %}

<!-- base.html 시작부 -->
{% block content %}
<div class= "wrap">
    <section>
        <div class="container">
          <!-- <div class="row align-items-center"> -->
            <!-- <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
              </div>
            </div> -->
            <!-- <div class="col-lg-6 order-lg-1"> -->
              <div class="p-4">
                  <br>
                <h2 class="display-4" style="font-family: 'GmarketSansBold';">결제 정보를 입력하여 주세요</h2>
                <br><br><br>
                <form class="pay_form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">성함</label>
                            <input type="text" class="form-control" placeholder="성함" id="name">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">전화번호</label>
                            <input type="text" class="form-control" placeholder="전화번호" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">우편번호</label>
                            <input type="text" class="form-control" placeholder="우편번호" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">주소</label>
                            <input type="text" class="form-control" placeholder="주소" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">배송요청사항</label>
                            <input type="text" class="form-control" placeholder="배송요청사항" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">카드번호</label>
                            <input type="text" class="form-control" placeholder="1111-2222-3333-4444" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">카드유효기간</label>
                            <input type="text" class="form-control" placeholder="11/22" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">생년월일</label>
                            <input type="text" class="form-control" placeholder="001122" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">카드비밀번호 앞 두자리</label>
                            <input type="password" class="form-control" placeholder="**" id="name">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <img id="sn_sub" src="{% static 'main/img/snack_subscribe.png' %}">
                    </div>
                    <a href="{% url 'home' %}" style="font-family: 'GmarketSansBold';" type="submit" class="btn btn-danger" onclick="alert('결제완료 되었습니다.');" >구독 서비스 결제</a>
                </form>
              </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>
    </section>
</div>
{% endblock %}