{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>

  .quiz {
    font-family: 'Roboto';
    font-style: Regular;
    text-align: left;
    vertical-align: top;
    padding-top: 2rem;
  }

  .quiz h1 {
    font-family: 'Roboto';
    font-weight:bold; 
    font-size:40px;
    margin-bottom: 4rem;
  }

  .question {
    font-family: 'Roboto';
    font-style: Regular;
    text-align: Center;
    vertical-align: top;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .question h1 {
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  hr {
    width: 1400px;
    size: 1px;
    color: black;
    position: relative;
  }

  .circle {

    width: 130px;
    height: 130px;
    border-radius: 75px;
    margin: 1rem;
    vertical-align: middle;
    line-height: 130px;
    text-align: center;
    font-size: 12px;
    float: left;
  }

  #circle1 {
    background-color: #E4F2FF;
  }

  #circle2 {
    background-color: rgba(249, 174, 29, 0.83);
  }

  #circle3 {
    background-color: #FFC5B8;
  }

  #circle4 {
    background-color: rgba(97, 162, 209, 0.72);
  }

  #circle5 {
    background-color: #FFEDAC;
  }

  #circle6 {
    background-color: #F56638;
  }

  #circle7 {
    background-color: #D4F5FD;
  }

  #circle8 {
    background-color: #FFCAE3;
  }

  .image{
    display: inline;
    margin: 3rem;
  }
</style>

{% endblock %}


{% block content %}




<div class="wrap">
  <div class="container">
    <div class="quiz">
      <h1>롯데과자 추천 서비스 Quiz</h1>
    </div>
  
    <div class="question">
      <h1>1. 누구와 함께 먹을건가요?</h1>
  
      <div class="image">
        <img src="{% static 'main/image/family.png' %}">
      </div>
  
      <div class="image">
        <img src="{% static 'main/image/woman.png' %}">
      </div>
  
      <div class="image">
        <img src="{% static 'main/image/friend.png' %}">
      </div>
      <hr>
    </div>
  
    <div class="question">
      <h1>2. 어떤 식감을 좋아하나요?</h1>
      <div class="items-container" style=" displaly:flex; flex-wrap:no-wrap; flex-direction: row; width: 100%; min-width: 500px; ">
        <div class="row" style="justify-content: center;">
          <div class=items style="text-align: center; margin-top:1rem;">
            <div class="circle" id="circle1">
              폭신폭신
            </div>
            <div class="circle" id="circle2">
              바삭바삭
            </div>
            <div class="circle" id="circle3">
              쫀득쫀득
            </div>
            <div class="circle" id="circle4">
              와작와작
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  
  
    <div class="question">
      <h1>3. 무슨 맛을 느끼고 싶으신가요?</h1>
      <div class="items-container" style=" displaly:flex; flex-wrap:no-wrap; flex-direction: row; width: 100%; min-width: 500px; ">
        <div class="row" style="justify-content: center;">
          <div class=items style="text-align: center; margin-top:1rem;">
            <div class="circle" id="circle5">
              달콤한
            </div>
            <div class="circle" id="circle6">
              매콤한
            </div>
            <div class="circle" id="circle7">
              짭짤한
            </div>
            <div class="circle" id="circle8">
              고소한
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  
    <div class="question">
      <h1>4. 밥 먹을 때 어떻게 먹나요?
        같이 나눠먹기 / 따로 각자 접시에
      </h1>
  
      <div class="items-container" style=" displaly:flex; flex-wrap:no-wrap; flex-direction: row; width: 100%; min-width: 500px; ">
        <div class="row" style="justify-content: center;">
          <div class=items style="text-align: center; margin-top:1rem;">
            <div class="image">
              <img src="{% static 'main/image/meal_plate.png' %}">
            </div>
            <div class="image">
              <img src="{% static 'main/image/meal_plate_2.png' %}">
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  
    <div class="question">
      <h1>5. 언제 먹을건가요?</h1>
  
      <div class="items-container" style=" displaly:flex; flex-wrap:no-wrap; flex-direction: row; width: 100%; min-width: 500px; ">
        <div class="row" style="justify-content: center;">
          <div class=items style="text-align: center; margin-top:1rem;">
            <div class="image">
            <img src="{% static 'main/image/snack.png' %}">
            </div>
            <div class="image">
              <img src="{% static 'main/image/bagel.png' %}">
            </div>
            <div class="image">
              <img src="{% static 'main/image/beer.png' %}">
            </div>
            <div class="image">
              <img src="{% static 'main/image/mouth.png' %}">
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

{% endblock %}